.newContainer {
  width: 100%;
  margin-top: 20px;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 300px;
  box-shadow: 3px 3px 10px #cdeac0;
  padding: 5px;
}

.buttonTxt {
  display: inline;
  margin-left: 7px;
}
.buttonBox {
  height: 45px;
  box-shadow: 3px 3px 10px #cdeac0;
}

.login {
  width: 80%;
  height: 400px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 3px 3px 10px #cdeac0;
}

.title {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.loginForm {
  width: 80%;
  margin: 0 auto;
}
